@font-face {
  font-family: "Raleway";
  src: url("assets/fonts/Raleway-ExtraLight.ttf");
  font-weight: 100;
}
@font-face {
  font-family: "Raleway";
  src: url("assets/fonts/Raleway-Regular.ttf");
  font-weight: 300;
}
body {
  font-family: "Raleway";
}
* {
  box-sizing: border-box;
}
